In [106]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

lib = pd.read_csv('Libraries.csv')
crime = pd.read_csv('BPD_Part_1_Victim_Based_Crime_Data.csv')
pop = pd.read_csv('Census_Demographics_2010.csv')

lib.head()

,name,zipCode,neighborhood,councilDistrict,policeDistrict,Location 1,2010 Census Neighborhoods,2010 Census Wards Precincts,Zip Codes
0,Central,21201,Downtown,11,CENTRAL,"400 Cathedral St\nBaltimore, MD",NaN,NaN,NaN
1,Brooklyn,21225,Brooklyn,10,SOUTHERN,"300 Patapsco Av\nBaltimore, MD",NaN,NaN,NaN
2,Canton,21224,Canton,1,SOUTHEASTERN,"1030 Ellwood St\nBaltimore, MD",NaN,NaN,NaN
3,Cherry Hill,21225,Cherry Hill,10,SOUTHERN,"606 Cherry Hill\nBaltimore, MD",NaN,NaN,NaN
4,Clifton,21213,South Clifton Park,12,EASTERN,"2001 Wolfe St\nBaltimore, MD",NaN,NaN,NaN

In [107]:
crime = crime.drop(['CrimeDate', 'CrimeTime', 'CrimeCode', 'Location 1', 'Inside/Outside', 'Weapon', 'Post', 'Neighborhood', 'Longitude', 'Latitude', 'Location', 'Premise', 'crimeCaseNumber', 'Total Incidents'], axis=1)
lib = lib.drop(['zipCode', 'neighborhood', 'councilDistrict', 'Location 1', '2010 Census Neighborhoods', '2010 Census Wards Precincts', 'Zip Codes'], axis=1)
crime = crime.dropna()
lib.head()

          name policeDistrict
0      Central        CENTRAL
1     Brooklyn       SOUTHERN
2       Canton   SOUTHEASTERN
3  Cherry Hill       SOUTHERN
4      Clifton        EASTERN

In [109]:
# hardcoding stuff bc i can't remember what i did last time
crimeDist = ['NORTHEASTERN', 'SOUTHEASTERN', 'SOUTHERN', 'CENTRAL', 'NORTHERN', 'SOUTHWESTERN', 'NORTHWESTERN', 'EASTERN', 'WESTERN']

allCrimes = pd.DataFrame(crime['District'].value_counts(), index=crimeDist)
allCrimes.columns = ['allCrimes']

In [110]:
# creating columns for each type of crime
larc = crime.query('Description == \'LARCENY\'')
larcDist = ['SOUTHEASTERN', 'CENTRAL', 'NORTHEASTERN', 'NORTHERN', 'SOUTHERN', 'NORTHWESTERN', 'SOUTHWESTERN', 'EASTERN', 'WESTERN']
larcMap = {}

for i in range(0, len(larcDist)):
    larcMap[larcDist[i]] = larc['District'].value_counts()[i]
    
i = 0
for dist in larcMap:
    larcDist[i] = larcMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Larceny'] = larcDist

In [111]:
cass = crime.query('Description == \'COMMON ASSAULT\'')
cassDist = ['NORTHEASTERN', 'SOUTHEASTERN', 'CENTRAL', 'EASTERN', 'SOUTHWESTERN', 'SOUTHERN', 'WESTERN', 'NORTHWESTERN', 'NORTHERN']
cassMap = {}

for i in range(0,len(cassDist)):
    cassMap[cassDist[i]] = cass['District'].value_counts()[i]
    
i = 0
for dist in cassMap:
    cassDist[i] = cassMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Common Assaut'] = cassDist

In [112]:
burg = crime.query('Description == \'BURGLARY\'')
burgDist = ['NORTHEASTERN', 'NORTHERN', 'SOUTHEASTERN', 'SOUTHERN', 'SOUTHWESTERN', 'NORTHWESTERN', 'EASTERN', 'CENTRAL', 'WESTERN']
burgMap = {}

for i in range(0,len(burgDist)):
    burgMap[burgDist[i]] = burg['District'].value_counts()[i]
    
i = 0
for dist in burgMap:
    burgDist[i] = burgMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Burglary'] = burgDist

In [113]:
alarc = crime.query('Description == \'LARCENY FROM AUTO\'')
alarcDist = ['SOUTHEASTERN', 'NORTHEASTERN', 'CENTRAL', 'NORTHERN', 'SOUTHERN', 'NORTHWESTERN', 'EASTERN', 'SOUTHWESTERN', 'WESTERN']
alarcMap = {}

for i in range(0,len(alarcDist)):
    alarcMap[alarcDist[i]] = alarc['District'].value_counts()[i]
    
i = 0
for dist in alarcMap:
    alarcDist[i] = alarcMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Larceny from Auto'] = alarcDist

In [114]:
aagg = crime.query('Description == \'AGG. ASSAULT\'')
aaggDist = ['NORTHEASTERN', 'SOUTHERN', 'WESTERN', 'SOUTHWESTERN', 'EASTERN', 'SOUTHEASTERN', 'NORTHWESTERN', 'CENTRAL', 'NORTHERN']
aaggMap = {}

for i in range(0,9):
    aaggMap[aaggDist[i]] = aagg['District'].value_counts()[i]
    
i = 0
for dist in aaggMap:
    aaggDist[i] = aaggMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Agg. Assault'] = aaggDist
allCrimes

,allCrimes,Larceny,Common Assaut,Burglary,Larceny from Auto,Agg. Assault
NORTHEASTERN,38509,7854,6097,6520,4947,3606
SOUTHEASTERN,36562,9074,5332,4909,6957,3094
SOUTHERN,29298,6574,4489,4872,3563,3310
CENTRAL,28510,8039,4904,2786,4728,2599
NORTHERN,28445,6951,3567,5114,4631,2217
SOUTHWESTERN,25601,5092,4567,4160,2515,3168
NORTHWESTERN,25106,5329,3714,4012,2843,2673
EASTERN,21974,4185,4645,2804,2540,3098
WESTERN,20117,3654,3987,2636,1543,3182

In [119]:
athft = crime.query('Description == \'AUTO THEFT\'')
print(athft['District'].value_counts())
athftDist = ['NORTHEASTERN','NORTHWESTERN','SOUTHWESTERN','SOUTHERN','SOUTHEASTERN','WESTERN','NORTHERN','EASTERN','CENTRAL']
athftMap = {}

for i in range(0,9):
    athftMap[athftDist[i]] = athft['District'].value_counts()[i]
    
i = 0
for dist in athftMap:
    athftDist[i] = athftMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Auto Theft'] = athftDist

NORTHEASTERN    4357
NORTHWESTERN    3042
SOUTHWESTERN    2893
SOUTHERN        2542
SOUTHEASTERN    2383
WESTERN         2250
NORTHERN        2242
EASTERN         1665
CENTRAL         1455
Name: District, dtype: int64

In [122]:
srob = crime.query('Description == \'ROBBERY - STREET\'')
srobDist = ['SOUTHEASTERN', 'NORTHEASTERN','CENTRAL','NORTHERN','SOUTHERN','NORTHWESTERN','EASTERN','SOUTHWESTERN','WESTERN']
srobMap = {}

for i in range(0,9):
    srobMap[srobDist[i]] = srob['District'].value_counts()[i]
    
i = 0
for dist in srobMap:
    srobDist[i] = srobMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Robbery - Street'] = srobDist

In [127]:
crob = crime.query('Description == \'ROBBERY - COMMERCIAL\'')
crobDist = ['NORTHEASTERN','SOUTHEASTERN','NORTHERN','CENTRAL','SOUTHERN','NORTHWESTERN','SOUTHWESTERN','EASTERN','WESTERN']
crobMap = {}

for i in range(0,9):
    crobMap[crobDist[i]] = crob['District'].value_counts()[i]
    
i = 0
for dist in crobMap:
    crobDist[i] = crobMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Robbery - Commercial'] = crobDist

In [133]:
sht = crime.query('Description == \'SHOOTING\'')
shtDist = ['WESTERN','EASTERN','SOUTHWESTERN','SOUTHERN','NORTHWESTERN','NORTHEASTERN','NORTHERN','CENTRAL','SOUTHEASTERN']
shtMap = {}

for i in range(0,9):
    shtMap[shtDist[i]] = sht['District'].value_counts()[i]
    
i = 0
for dist in shtMap:
    shtDist[i] = shtMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Shooting'] = shtDist

In [134]:
rrob = crime.query('Description == \'ROBBERY - RESIDENCE\'')
rrobDist = ['NORTHEASTERN','SOUTHERN','SOUTHWESTERN','SOUTHEASTERN','NORTHWESTERN','NORTHERN','EASTERN','WESTERN','CENTRAL']
rrobMap = {}

for i in range(0,9):
    rrobMap[rrobDist[i]] = rrob['District'].value_counts()[i]
    
i = 0
for dist in rrobMap:
    rrobDist[i] = rrobMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Robbery - Residence'] = rrobDist

In [139]:
carob = crime.query('Description == \'ROBBERY - CARJACKING\'')
carobDist = ['NORTHWESTERN','NORTHEASTERN','SOUTHERN','SOUTHWESTERN','WESTERN','NORTHERN','SOUTHEASTERN','CENTRAL','EASTERN']
carobMap = {}

for i in range(0,9):
    carobMap[carobDist[i]] = carob['District'].value_counts()[i]
    
i = 0
for dist in carobMap:
    carobDist[i] = carobMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Robbery - Carjacking'] = carobDist

In [144]:
rp = crime.query('Description == \'RAPE\'')
rpDist = ['NORTHEASTERN','SOUTHERN','CENTRAL','NORTHERN','SOUTHWESTERN','EASTERN','SOUTHEASTERN','NORTHWESTERN','WESTERN']
rpMap = {}

for i in range(0,9):
    rpMap[rpDist[i]] = rp['District'].value_counts()[i]
    
i = 0
for dist in rpMap:
    rpDist[i] = rpMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Rape'] = rpDist

In [147]:
ho = crime.query('Description == \'HOMICIDE\'')
print(ho['District'].value_counts())
hoDist = ['WESTERN','EASTERN','SOUTHWESTERN','NORTHWESTERN','NORTHEASTERN','SOUTHERN','NORTHERN','CENTRAL','SOUTHEASTERN']
hoMap = {}

for i in range(0,9):
    hoMap[hoDist[i]] = ho['District'].value_counts()[i]
    
i = 0
for dist in hoMap:
    hoDist[i] = hoMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Homicide'] = hoDist

WESTERN         237
EASTERN         207
SOUTHWESTERN    199
NORTHWESTERN    174
NORTHEASTERN    173
SOUTHERN        131
NORTHERN         94
CENTRAL          90
SOUTHEASTERN     88
Name: District, dtype: int64

,allCrimes,Larceny,Common Assaut,Burglary,Larceny from Auto,Agg. Assault,Auto Theft,Robbery - Street,Robbery - Commercial,Shooting,Robbery - Residence,Robbery - Carjacking,Rape,Arson,Homicide
NORTHEASTERN,38509,7854,6097,6520,4947,3606,4357,2711,747,306,484,271,None,221,173
SOUTHEASTERN,36562,9074,5332,4909,6957,3094,2383,3146,672,172,283,206,None,84,88
SOUTHERN,29298,6574,4489,4872,3563,3310,2542,1988,518,340,382,243,None,154,131
CENTRAL,28510,8039,4904,2786,4728,2599,1455,2529,575,192,183,180,None,63,90
NORTHERN,28445,6951,3567,5114,4631,2217,2242,2030,635,197,261,221,None,105,94
SOUTHWESTERN,25601,5092,4567,4160,2515,3168,2893,1331,408,408,285,234,None,162,199
NORTHWESTERN,25106,5329,3714,4012,2843,2673,3042,1597,489,329,276,300,None,168,174
EASTERN,21974,4185,4645,2804,2540,3098,1665,1436,319,424,235,133,None,120,207
WESTERN,20117,3654,3987,2636,1543,3182,2250,1169,246,500,228,234,None,109,237

In [145]:
ar = crime.query('Description == \'ARSON\'')
arDist = ['NORTHEASTERN','NORTHWESTERN','SOUTHWESTERN','SOUTHERN','EASTERN','WESTERN','NORTHERN','SOUTHEASTERN','CENTRAL']
arMap = {}

for i in range(0,9):
    arMap[arDist[i]] = ar['District'].value_counts()[i]
    
i = 0
for dist in arMap:
    arDist[i] = arMap.get(allCrimes.index[i])
    i += 1
    
allCrimes['Arson'] = arDist

NORTHEASTERN    221
NORTHWESTERN    168
SOUTHWESTERN    162
SOUTHERN        154
EASTERN         120
WESTERN         109
NORTHERN        105
SOUTHEASTERN     84
CENTRAL          63
Name: District, dtype: int64

,allCrimes,Larceny,Common Assaut,Burglary,Larceny from Auto,Agg. Assault,Auto Theft,Robbery - Street,Robbery - Commercial,Shooting,Robbery - Residence,Robbery - Carjacking,Rape,Arson
NORTHEASTERN,38509,7854,6097,6520,4947,3606,4357,2711,747,306,484,271,215,221
SOUTHEASTERN,36562,9074,5332,4909,6957,3094,2383,3146,672,172,283,206,162,84
SOUTHERN,29298,6574,4489,4872,3563,3310,2542,1988,518,340,382,243,192,154
CENTRAL,28510,8039,4904,2786,4728,2599,1455,2529,575,192,183,180,187,63
NORTHERN,28445,6951,3567,5114,4631,2217,2242,2030,635,197,261,221,180,105
SOUTHWESTERN,25601,5092,4567,4160,2515,3168,2893,1331,408,408,285,234,179,162
NORTHWESTERN,25106,5329,3714,4012,2843,2673,3042,1597,489,329,276,300,160,168
EASTERN,21974,4185,4645,2804,2540,3098,1665,1436,319,424,235,133,163,120
WESTERN,20117,3654,3987,2636,1543,3182,2250,1169,246,500,228,234,142,109